#wrap{
	min-height: calc(100vh - 14rem); /* footer 높이를 빼준다. */
	background: inherit;
}

footer{
	height: 14rem;
}
.original-img-bg{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: calc(-100vh + 14rem);
	background-color: rgba(0, 0, 0, .4);
}
#original-img{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
} 